/**
!/modules/
/modules/*
!/modules/mod_bpslider/
!/modules/mod_bpslider/**
/modules/mod_bpslider/assets/*

!/.dev
!/LICENSE
!/.github
!/.github/**
!/.phpcs
!/.phpcs/**
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/.gitignore
!/package.json
!/package-lock.json

!build.properties.dist
build.properties
!webpack.config.js