/**
!/modules/
/modules/*
!/modules/mod_bpslider/
!/modules/mod_bpslider/**
/modules/mod_bpslider/assets/*

!/LICENSE
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/.gitignore
!/package.json
!/package-lock.json

!build.properties
!webpack.config.js